@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


body {
  /* Internet Explorer, Edge */
  -ms-overflow-style: none;
  
  /* Firefox */
  scrollbar-width: none;
}

/* Chrome, Safari, Opera 등 WebKit 기반 브라우저 */
body::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}